* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}
.svg {
  width: 30px;
  height: 30px;
}
.svg svg:hover {
  fill: salmon;
}
