.root {
  width: 250px;
}
.inputContainer {
  margin: 0px 8px 8px 8px;
  padding: 8px 8px 8px 16px;
  border-radius: 5px;
  background-color: #ebecf0;
  cursor: pointer;
}
.inputContainer:hover {
  background-color: rgba(114, 114, 114, 0.3);
}
